<div class="accordion" id="aboutAccordion">
    <div class="accordion-item" id="about-asmitha">
        <h2 class="accordion-header" id="heading-about-me">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-about-me"
                aria-expanded="true" aria-controls="collapse-about-me">
                Behind Chasmish
            </button>
        </h2>
        <div id="collapse-about-me" class="accordion-collapse collapse show" aria-labelledby="heading-about-me">
            <div class="accordion-body">
                <div class="aboutAsmi">
                    <img alt="Asmitha" class="asmi" src="../../assets/img/Asmitha_Cropped.jpg" />
                </div>
                <p>
                    Hi, I'm <b>Asmitha</b>, a mother to a curious 3-year-old.
                    My love for reading and writing led me to start the <i>Chasmish Blog</i>, where I share Tamil poems,
                    scribbles, book reviews and podcasts.
                    This passion evolved into my business, <i>Chasmish Exclusives</i>, driven by my craze for
                    stationery.
                    My search for quality products for my child inspired me to venture into kids' books, toys, and
                    bookshelves.
                    As an avid reader, I also founded <i>Chasmish Reads</i>.
                    All of these are united under <i>Chasmish Ventures</i>.
                </p>
            </div>
        </div>
    </div>
    <div class="accordion-item" id="about-chasmish">
        <h2 class="accordion-header" id="heading-chasmish">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-chasmish"
                aria-expanded="true" aria-controls="collapse-chasmish">
                Discover Chasmish Ventures
            </button>
        </h2>
        <div id="collapse-chasmish" class="accordion-collapse collapse show" aria-labelledby="heading-chasmish">
            <div class="accordion-body">
                <p>Welcome to Chasmish Ventures! </p>
                <h3><a class="header-link" href="/home#ChasmishBookhounds">Chasmish Bookhounds</a></h3>
                <ul>
                    <li>Interactive and educational books available for age groups from babies to teens.</li>
                    <li>Ranges from touch and feel, crinkle, pop-up, puppet, sound books to informative flap books.</li>
                </ul>
                <h3><a class="header-link" href="/home#ChasmishToys">Chasmish Toys</a></h3>
                <ul>
                    <li>Educational toys, wooden toys, puzzles, and the latest trendy toys available.</li>
                </ul>
                <h3><a class="header-link" href="/home#ChasmishToys">Chasmish Bookshelves</a></h3>
                <ul>
                    <li>Customizable wooden bookshelves to meet your needs.</li>
                    <li>Ability to arrange specific bookshelves upon request.</li>
                </ul>
                <h3><a class="header-link" href="/home#ChasmishToys">Chasmish Reads</a></h3>
                <ul>
                    <li>Extensive collection of novels covering multiple genres such as romance, mystery, fantasy, and
                        non-fiction.</li>
                    <li>Captivating reads for children, teens, and adults alike.</li>
                </ul>
                <h3><a class="header-link" href="/home#ChasmishToys">Chasmish Exclusives</a></h3>
                <ul>
                    <li>Exclusive - Crafted carefully by me (Asmitha).</li>
                    <li>Journals, notebooks, planners, calendars, and much more.</li>
                </ul>

                <h3><a class="header-link" href="/home#ChasmishToys">Chasmish Talks</a></h3>
                <ul>
                    <li>Podcast (Spotify)</li>
                    <ul>
                        <li>Share insightful book reviews.</li>
                        <li>Explore and discuss interesting book chapters.</li>
                    </ul>
                    <li>YouTube Channel</li>
                    <ul>
                        <li>Videos of kids' books read aloud.</li>
                        <li>Flip-through videos showcasing kids' books.</li>
                    </ul>
                </ul>
                <h3><a class="header-link" href="#">Return Gifts</a></h3>
                <ul>
                    <li>We are able to arrange things like stationeries, books, toys, and much more for return gifts.
                        Please inform us at least 15 days prior.</li>
                    <li>You can also enquire about any kids' books, toys, stationeries, and novels. We are happy to
                        arrange them for you.</li>
                </ul>
                <h6 class="text-center mt-4">Happy to have you here! Happy Shopping!</h6>
            </div>
        </div>
    </div>

</div>