<div class="accordion" id="accordionPanelsStayOpenExample">
    <div class="accordion-item" id="panelsStayOpen-headingOne">
        <h2 class="accordion-header">
            <button class="accordion-button" type="button" data-bs-toggle="collapse"
                data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true"
                aria-controls="panelsStayOpen-collapseOne">
                About me
            </button>
        </h2>
        <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show"
            aria-labelledby="panelsStayOpen-headingOne">
            <div class="accordion-body">
                <p>I am a mompreneur selling books & toys from my home. I am currently in Chennai, Tamil Nadu. I am a
                    stationery & book lover.</p>
                <p>I sell book journals, bookmarks, ecofriendly calendars & pencils that are designed by myself. I also
                    sell kids' books(new & preloved) & toys (new).</p>
                <p>You can contact me through whatsapp at +916379966886.</p>
            </div>
        </div>
    </div>
</div>