.accordion-button {
    background-color: rgb(149, 235, 235);
}

.asmi {
    max-width: 10rem;
    max-height: 10rem;
    border-radius: 50%;
}

.aboutAsmi {
    text-align: center;
}
.header-link
{
    text-decoration: none;
}