<div class="accordion" id="aboutAccordion">
    <div class="accordion-item" id="accordion-item-chasmish">
        <h2 class="accordion-header" id="heading-chasmish">
            <button class="accordion-button" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapse-chasmish" aria-expanded="true"
                aria-controls="collapse-chasmish">
                About Chasmish
            </button>
        </h2>
        <div id="collapse-chasmish" class="accordion-collapse collapse show"
            aria-labelledby="heading-chasmish">
            <div class="accordion-body">
                <p>Welcome to Chasmish Ventures! I specialize in creating and reselling distinctive items that cater to
                    everyone's needs.</p>
                <p>Under the Chasmish brand, you'll discover my exclusive designs,
                    including beautifully crafted book journals, bookmarks, eco-friendly calendars, and pencils
                    – perfect for organizing your busy lives and sparking creativity.</p>
                <p>For children, I offer a delightful range of new and preloved kids' books and toys,
                    along with charming kids' bookshelves to keep their spaces tidy and inspiring. </p>
                <p>For book lovers out there, I offer a curated collection of captivating novels in both Tamil and
                    English
                    – perfect for your next cozy reading session.</p>
                <p>On the Chasmish blog, I scribble letters in both Tamil and English, and even write poems. Join me on
                    this creative journey!</p>
                <p>All these wonderful products are available across India.
                    Feel free to connect with me on WhatsApp at +916379966886 to explore more.</p>
            </div>
        </div>
    </div>
    <div class="accordion-item" id="accordion-item-about-me">
        <h2 class="accordion-header" id="heading-about-me">
            <button class="accordion-button" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapse-about-me" aria-expanded="true"
                aria-controls="collapse-about-me">
                About Me
            </button>
        </h2>
        <div id="collapse-about-me" class="accordion-collapse collapse show"
            aria-labelledby="heading-about-me">
            <div class="accordion-body">
                <div class="aboutAsmi">
                    <img alt="Asmitha" class="asmi" src="../../assets/img/Asmitha_Cropped.jpg" />
                </div>
                <p>Hello! I'm a mom to a lively 2-year-old,
                    running a home-based business in Chennai, Tamil Nadu.
                    My passion for stationery and books inspired me to create
                    my own book journal, a project that quickly grew into Chasmish.
                    I'm delighted to have you here and hope you'll enjoy my products.
                </p>
            </div>
        </div>
    </div>
</div>
