<nav class="navbar rainbowBottomBorder">
  <div class="container-fluid">
    <span class="menu-container">
      <button class="navbar-toggler" type="button" aria-label="Toggle navigation" (click)="toggleMenu()">
        <div class="menu-icon">
          <div class="bar1" [class.menuchange]="isMenuOpen"></div>
          <div class="bar2" [class.menuchange]="isMenuOpen"></div>
          <div class="bar3" [class.menuchange]="isMenuOpen"></div>
        </div>
      </button>
      <span class="route">{{currentRouteLabel}}</span>
    </span>
    <a class="navbar-brand brand" [routerLink]="['/home']">
      <span class="antic-bold chasmish"> Ch<span class="c-asmi">asmi</span>sh </span>
      <span class="lh-1 qwitcher-grypen-bold byasmitha"> by <span class="a-asmi">Asmi</span>tha</span>
    </a>
  </div>
</nav>
<div class="side-menu" [class.menu-open]="isMenuOpen">
  <ul class="navbar-nav me-auto flex-column">
    <li class="nav-item" *ngFor="let route of routes" [ngClass]="{ 'active': currentRoute === route.path }">
      <a class="nav-link" [routerLink]="[route.path]" (click)="isMenuOpen = false">
        {{ route.label }}
      </a>
    </li>
  </ul>
</div>