.navbar {
    z-index: 1001; /* Higher z-index for navbar */
    width: 100%;
    top: 0;
    height: var(--navbarHeight);
    justify-content: space-between;
    display: flex; /* Center content vertically */
    align-items: center; /* Center content vertically */
    position: fixed; /* Keep navbar fixed at the top */
    background-color: #f8f9fa; /* Background color */
    /*box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Subtle shadow for separation */
    overflow: hidden; /* Prevent content spill */
}
.navbar-toggler
{
    padding: 0.1rem;
    box-shadow: none;
    border: none;
}
.menu-container
{
    display: inline-block;
    align-items: center; /* Center content vertically */
}

.menu-icon {
    display: inline-block;
    cursor: pointer;
    margin: 0.1rem; /* Adjusted for alignment */

}

.bar1, .bar2, .bar3 {
    width: 2rem;
    height: 0.3rem;
    background-color: #333;
    margin: 0.4rem 0; /* Adjusted for same height */
    transition: 0.4s;
}

.menuchange.bar1 {
    transform: translate(0, 0.7rem) rotate(-45deg); /* Adjusted transform for same height */
}

.menuchange.bar2 {
    opacity: 0;
}

.menuchange.bar3 {
    transform: translate(0, -0.7rem) rotate(45deg); /* Adjusted transform for same height */
}

.route {
    color: #b70d65;
    font-size: 1.5rem;
    font-weight: bold;
    text-decoration: none;
    transition: 0.3s;
    text-align: left;
    white-space: nowrap; 
    text-overflow: ellipsis; 
    overflow: hidden;
    flex-shrink: 1; 
    max-width: calc(100% - 15rem);
    margin:0.1rem;
    /* display:flex; */
    align-items:center;
}

.navbar-brand {
    padding: 0;
}

.brand {
    text-align: center;
    margin-right: 0.5rem;
    font-size: xx-large;
    /* display: flex;
    flex-wrap: wrap;*/
    display:inline-block;
    max-height: 4rem;
    white-space: nowrap;
}

.chasmish {
    color: #439783;
    margin:0.1rem;
    white-space: nowrap;
}

.byasmitha {
    color: #b70d65;
    margin:0.1rem 0.3rem;
    white-space: nowrap;
    overflow: hidden;
    /* font-size:smaller; */
}
/* @media (max-width: 768px) {
    .byasmitha {
        display: block; 
        text-align: center; 
    }
} */

/* @media (max-width: 576px) {
    .byasmitha {
        display: none; 
    }
} */
@keyframes a-asmi {
    0% {color: #b70d65;}
    50% {color: black;}
    100% {color: #b70d65;}
}

.a-asmi {
    animation: a-asmi 10s infinite;
}

@keyframes c-asmi {
    0% {color: #439783;}
    50% {color: black;}
    100% {color: #439783;}
}

.c-asmi {
    animation: c-asmi 10s infinite;
}

.side-menu {
    height: calc(100% - var(--navbarHeight));
    top: var(--navbarHeight);
    width: 0;
    position: fixed;
    left: 0;
    background-color: #f0f0f0; /* Light Pastel Background */
    overflow-x: hidden;
    transition: 0.5s;
    z-index: 1000; /* Lower z-index than navbar */
}

.side-menu.menu-open {
    width: 15rem;
}

.side-menu .navbar-nav {
    padding: 0;
}

.side-menu .nav-item {
    padding: 10px 15px;
    text-decoration: none;
    font-size: 1.2rem;
    color: #333;
    display: block;
    transition: 0.3s;
}

.side-menu .nav-item.active {
    background-color: #9bcff5; /* Soft Blue Highlight */
    color: white; /* White text for contrast */
}

.side-menu .nav-item.active a {
    color: #000000;
}

.nav-link {
    color: #333;
    transition: 0.3s;
}
/* Hide or move "by Asmitha" on smaller screens 
@media (max-width: 500px) {
    .route {
        font-size: small; 
        text-align: left;
    }
}
    */