/* You can add global styles to this file, and also import other style files */

.img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
}

.antic-regular {
    font-family: "Antic", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.qwitcher-grypen-regular {
    font-family: "Qwitcher Grypen", cursive;
    font-weight: 400;
    font-style: normal;
}

.qwitcher-grypen-bold {
    font-family: "Qwitcher Grypen", cursive;
    font-weight: 700;
    font-style: normal;
}

.k2d-regular {
    font-family: "K2D", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.shadows-into-light-regular {
    font-family: "Shadows Into Light", cursive;
    font-weight: 400;
    font-style: normal;
}

.rainbow {
    --rainbow1-gradient: linear-gradient(in hsl longer hue 45deg, red 0 0);
    border-bottom: 1px;
    border-bottom-width: 100%;
    border-bottom-style: solid;
    border-image: var(--rainbow1-gradient) 1;
    /* linear-gradient(to top, red, blue) 1 ; */

}

.divider {
    --rainbow1-gradient: linear-gradient(in hsl longer hue 45deg, red 0 0);
    background: var(--rainbow1-gradient);
    height: 1px;
    width: 100%;
    margin-block: 1.5rem;
}

.tdivider {
    margin-block: 1.5rem;
}
